# Cálculo de ratios

Cálculo de los ratios financieros a partir de la información contable y bursátil disponible, que utilizaremos como variables explicativas del modelo

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
pd.options.display.max_columns = None
pd.options.display.max_rows = 50

In [3]:
! ls -n ../tablas

total 12092
-rw-rw-r-- 1 1000 1000 9992731 jul  9 23:37 banks_cotiz.csv
-rw-rw-r-- 1 1000 1000 1121816 ago 10 23:10 dataformodel.csv
-rw-rw-r-- 1 1000 1000  578247 jul  9 23:37 mergedbalres.csv
-rw-rw-r-- 1 1000 1000  683261 jul 21 00:03 registros_etiq.csv

In [4]:
data = pd.read_csv('../tablas/registros_etiq.csv', usecols=['Ticker',
                                                             'Fiscal Year',
                                                             'Fiscal Period',
                                                             'Publish Date',
                                                             'Shares (Basic)',
                                                             'Shares (Diluted)',
                                                             'Cash, Cash Equivalents & Short Term Investments',
                                                             'Interbank Assets',
                                                             'Short & Long Term Investments',
                                                             'Accounts & Notes Receivable',
                                                             'Net Loans',
                                                             'Net Fixed Assets',
                                                             'Total Assets',
                                                             'Total Deposits',
                                                             'Short Term Debt',
                                                             'Long Term Debt',
                                                             'Total Liabilities',
                                                             'Preferred Equity',
                                                             'Share Capital & Additional Paid-In Capital',
                                                             'Treasury Stock',
                                                             'Retained Earnings',
                                                             'Total Equity',
                                                             'Total Liabilities & Equity',
                                                             'Revenue',
                                                             'Provision for Loan Losses',
                                                             'Net Revenue after Provisions',
                                                             'Total Non-Interest Expense',
                                                             'Operating Income (Loss)',
                                                             'Non-Operating Income (Loss)',
                                                             'Pretax Income (Loss)',
                                                             'Income Tax (Expense) Benefit, Net',
                                                             'Income (Loss) from Continuing Operations',
                                                             'Net Extraordinary Gains (Losses)',
                                                             'Net Income',
                                                             'Net Income (Common)',
                                                             'Price_d',
                                                             'Publish_Date+90',
                                                             'Price_d+90',
                                                             'DJUSF_d',
                                                             'DJUSF_d+90',
                                                             'Var_cotiz',
                                                             'Var_index',
                                                             'Etiqueta'])

In [5]:
len(data)

1541

In [6]:
list(data.columns)

['Ticker',
 'Fiscal Year',
 'Fiscal Period',
 'Publish Date',
 'Shares (Basic)',
 'Shares (Diluted)',
 'Cash, Cash Equivalents & Short Term Investments',
 'Interbank Assets',
 'Short & Long Term Investments',
 'Accounts & Notes Receivable',
 'Net Loans',
 'Net Fixed Assets',
 'Total Assets',
 'Total Deposits',
 'Short Term Debt',
 'Long Term Debt',
 'Total Liabilities',
 'Preferred Equity',
 'Share Capital & Additional Paid-In Capital',
 'Treasury Stock',
 'Retained Earnings',
 'Total Equity',
 'Total Liabilities & Equity',
 'Revenue',
 'Provision for Loan Losses',
 'Net Revenue after Provisions',
 'Total Non-Interest Expense',
 'Operating Income (Loss)',
 'Non-Operating Income (Loss)',
 'Pretax Income (Loss)',
 'Income Tax (Expense) Benefit, Net',
 'Income (Loss) from Continuing Operations',
 'Net Extraordinary Gains (Losses)',
 'Net Income',
 'Net Income (Common)',
 'Price_d',
 'Publish_Date+90',
 'Price_d+90',
 'DJUSF_d',
 'DJUSF_d+90',
 'Var_cotiz',
 'Var_index',
 'Etiqueta']

### Capitalización bursátil

In [7]:
data['Capit']=data['Shares (Basic)']*data['Price_d']

In [8]:
len(data[data['Capit'].isnull()])

58

### PER

In [9]:
data['PER'] = data['Net Income (Common)']/data['Capit']
len(data[data['PER'].isnull()])

58

### Price / Book Value

In [10]:
data['PBC'] = data['Capit']/data['Total Equity']
len(data[data['PBC'].isnull()])

58

### Rentabilidad por dividendo

### ROE

In [11]:
data['ROE'] = data['Net Income (Common)']/data['Total Equity']
len(data[data['ROE'].isnull()])

0

### ROA

In [12]:
data['ROA'] = data['Net Income (Common)']/data['Total Assets']
len(data[data['ROA'].isnull()])

0

### Deuda total / FFPP

In [13]:
data['Deuda_FFPP'] = (data['Short Term Debt'] + data['Long Term Debt'])/data['Total Equity']
len(data[data['Deuda_FFPP'].isnull()])

395

### Deuda corto plazo / FFPP

In [14]:
data['DeudaCP_FFPP'] = data['Short Term Debt'] / data['Total Equity']
len(data[data['DeudaCP_FFPP'].isnull()])

159

### Dotación en el periodo

In [15]:
data['Dot_dudosos'] = data['Provision for Loan Losses']/data['Total Assets']
len(data[data['Dot_dudosos'].isnull()])

51

## Variaciones en los ratios

A continuación vamos a incorporar como variable la variación de cada ratio con respecto al periodo anterior. Para ello primero aseguramos el orden adecuado de la tabla

In [16]:
data.sort_values(['Ticker','Fiscal Year','Fiscal Period'], ascending=True, inplace=True)

Despues incorporamos en cada fila el valor del ratio del periodo anterior, siempre que el Ticker no varíe.

In [17]:
#Definimos una función que genere subtablas por Ticker y en ellas haga un shift para incorporar en cada línea el
#valor de un ratio dado del periodo anterior.

def ratio_ant(ratio,data):
    table_1=pd.DataFrame()
    for ticker in data.Ticker.unique():
        aux_table=data[data.Ticker==ticker]
        aux_table['var_%s'%(ratio)]=(aux_table[ratio].shift(1)/aux_table[ratio])-1
        table_1=table_1.append(aux_table)
    return table_1

In [18]:
#Aplicamos la función anterior para cada ratio

for column in ['PER','PBC','ROE','ROA','Deuda_FFPP','DeudaCP_FFPP','Dot_dudosos']:
    data=ratio_ant(column,data)

/home/pipe/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

## Valor relativo de cada ratio

Una posible mejora del modelo consiste en considerar cada uno de los ratios no por su valor absoluto, sino como un valor relativo con respecto al resto de compañias del periodo.
Para ello vamos a obtener para cada periodo el decil que ocupa cada ratio de cada compañía con respecto a las demás.

In [19]:
data = data.astype({'Fiscal Year':str})
data['Periodo'] = data['Fiscal Year'] + data['Fiscal Period']

In [20]:
len(data)

1541

In [21]:
#Definimos una función que genere subtablas por periodo y cada una calcule el cuantil de cada ratio de cada
#compañia

In [22]:
from scipy import stats

def my_quantile(ratio,data):
    table_1=pd.DataFrame()
    
    for periodo in data.Periodo.unique():
        aux_table=data[data.Periodo==periodo]
        aux_table['quantile_%s'%(ratio)]=0       
        
        for row in range(0,len(aux_table)):
            aux_table['quantile_%s'%(ratio)].iloc[row]=stats.percentileofscore(aux_table[ratio],
                                                                               aux_table[ratio].iloc[row])
        
        table_1=table_1.append(aux_table)
            
    return table_1

In [23]:
#Aplicamos la función anterior para cada ratio

for column in ['PER','PBC','ROE','ROA','Deuda_FFPP','DeudaCP_FFPP','Dot_dudosos']:
    data=my_quantile(column,data)

/home/pipe/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/home/pipe/anaconda3/lib/python3.7/site-packages/scipy/stats/stats.py:1942: RuntimeWarning: invalid value encountered in less
  left = np.count_nonzero(a < score)
/home/pipe/anaconda3/lib/python3.7/site-packages/scipy/stats/stats.py:1943: RuntimeWarning: invalid value encountered in less_equal
  right = np.count_nonzero(a <= score)
/home/pipe/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
/home/pipe/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

In [24]:
data

,Ticker,Fiscal Year,Fiscal Period,Publish Date,Shares (Basic),Shares (Diluted),"Cash, Cash Equivalents & Short Term Investments",Interbank Assets,Short & Long Term Investments,Accounts & Notes Receivable,Net Loans,Net Fixed Assets,Total Assets,Total Deposits,Short Term Debt,Long Term Debt,Total Liabilities,Preferred Equity,Share Capital & Additional Paid-In Capital,Treasury Stock,Retained Earnings,Total Equity,Total Liabilities & Equity,Revenue,Provision for Loan Losses,Net Revenue after Provisions,Total Non-Interest Expense,Operating Income (Loss),Non-Operating Income (Loss),Pretax Income (Loss),"Income Tax (Expense) Benefit, Net",Income (Loss) from Continuing Operations,Net Extraordinary Gains (Losses),Net Income,Net Income (Common),Price_d,Publish_Date+90,Price_d+90,DJUSF_d,DJUSF_d+90,Var_cotiz,Var_index,Etiqueta,Capit,PER,PBC,ROE,ROA,Deuda_FFPP,DeudaCP_FFPP,Dot_dudosos,var_PER,var_PBC,var_ROE,var_ROA,var_Deuda_FFPP,var_DeudaCP_FFPP,var_Dot_dudosos,Periodo,quantile_PER,quantile_PBC,quantile_ROE,quantile_ROA,quantile_Deuda_FFPP,quantile_DeudaCP_FFPP,quantile_Dot_dudosos
0,BAC,2011,Q3,2011-11-03,1.011628e+10,1.046440e+10,82865000000,2.499980e+11,624497000000,NaN,8.974490e+11,1.355200e+10,2219628000000,1.041353e+12,3.500110e+11,3.989650e+11,1989376000000,1.948000e+10,153801000000,NaN,5.904300e+10,230252000000,2219628000000,28453000000,-3.407000e+09,25046000000,-17437000000,7609000000,NaN,7433000000,-1.201000e+09,6232000000,NaN,6232000000,5889000000,6.17,2012-02-01,6.58,250.201996,266.403015,0.066451,0.064752,Neutral,6.241747e+10,0.094349,0.271083,0.025576,0.002653,3.252853,1.520121,-0.001535,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011Q3,97.435897,5.128205,74.358974,66.666667,64.102564,79.487179,17.948718
45,C,2011,Q3,2011-11-04,2.910800e+09,2.998600e+09,28950000000,4.499830e+11,607294000000,3.799200e+10,6.051870e+11,NaN,1935992000000,8.512810e+11,4.943740e+11,3.338240e+11,1756650000000,3.120000e+08,105591000000,-1.089000e+09,8.960200e+10,179342000000,1935992000000,20831000000,-3.351000e+09,17480000000,-12460000000,5020000000,NaN,5020000000,-1.278000e+09,3742000000,1000000.0,3771000000,3771000000,27.53,2012-02-02,29.03,247.268005,267.963989,0.054486,0.083699,Peor,8.013432e+10,0.047058,0.446824,0.021027,0.001948,4.617981,2.756599,-0.001731,-0.195211,0.105170,-0.110571,-0.123371,0.016683,-0.012526,0.000084,2011Q3,89.743590,12.820513,51.282051,38.461538,69.230769,84.615385,12.820513
81,CBSH,2011,Q3,2011-11-04,NaN,NaN,424861000,9.948190e+08,9439145000,NaN,8.885085e+09,3.689650e+08,20638668000,1.601408e+10,1.057728e+09,NaN,18508703000,0.000000e+00,1416657000,-9.620500e+07,6.909810e+08,2129965000,20638668000,262849000,-1.139500e+07,251454000,-153746000,97708000,NaN,97708000,-3.169900e+07,66009000,NaN,65352000,65352000,19.92,2012-02-02,21.37,247.268005,267.963989,0.072791,0.083699,Neutral,NaN,NaN,NaN,0.030682,0.003166,NaN,0.496594,-0.000552,NaN,NaN,0.055547,0.113976,NaN,0.211565,0.127950,2011Q3,NaN,NaN,89.743590,87.179487,NaN,56.410256,61.538462
139,CFR,2011,Q3,2011-10-26,6.113705e+07,6.123915e+07,571332000,3.916029e+09,5854801000,NaN,7.974144e+09,3.215170e+08,19489642000,1.606387e+10,7.819580e+08,1.000310e+08,17242766000,0.000000e+00,676692000,-1.456000e+06,1.327587e+09,2246876000,19489642000,224578000,-9.010000e+06,215568000,-137407000,78161000,NaN,78161000,-2.365400e+07,54507000,NaN,54507000,54507000,37.12,2012-01-24,44.49,245.505997,263.588989,0.198545,0.073656,Mejor,2.269407e+09,0.024018,1.010028,0.024259,0.002797,0.392540,0.348020,-0.000462,-0.092326,0.161864,0.054594,0.077540,0.109383,-0.078773,0.051800,2011Q3,35.897436,82.051282,66.666667,74.358974,10.256410,43.589744,76.923077
175,CIT,2011,Q3,2011-11-09,2.007140e+08,2.007140e+08,568900000,6.320200e+09,2847000000,NaN,2.139780e+10,1.119100e+10,44477800000,4.958900e+09,NaN,2.700100e+10,35573600000,NaN,8455800000,-1.250000e+07,4.996000e+08,8904200000,44477800000,551500000,-4.740000e+07,504100000,-350700000,153400000,NaN,6800000,-4.020000e+07,-33400000,NaN,-32800000,-32800000,29.54,2012-02-07,35.55,240.018997,273.093994,0.203453,0.137802,Mejor,5.929092e+09,-0.005532,0.665876,-0.003684,-0.000737,NaN,NaN,-0.001066,0.465558,0.029428,0.508687,0.403776,NaN,NaN,0.643739,2011Q3,5.128205,46.153846,5.128205,2.564103,NaN,NaN,25.641026
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1027,PNC,2009,Q2,2009-08-06,4.510000e+08,4.530000e+08,3797000000,1.200400e+10,60956000000,NaN,1.604400e+11,NaN,279754000000,1.904390e+11,3.921000e+09,3.845200e+10,250287000000,0.000000e+00,19072000000,-4.350000e+08,1.175800e+10,29467000000,279754000000,3803000000,-1.087000e+09,2716000000,-2492000000,224000000,NaN,224000000,-2.900000e+07,195000000,12000000.0,198000000,65000000,32.24,2009-11-04,39.79,247.445999,248.429001,0.234181,0.003973,Mejor,1.454024e+10,0.004470,0.493441,0.002206,0.000232,1.437981,0.133064,-0.003886,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2009Q2,33.333333,44.444444,33.333333,33.333333,55.555556,22.222222,66.666667
1086,RF,2009,Q2,2009-08-05,8.760000e+08,8.760000e+08,2363000000,6.067000e+09,20833000000,NaN,9.386700e+10,2.789000e+09,142811000000,9.472600e+10,7.192000e+09,1.823800e+10,124074000000,3.603000e+09,18752000000,-1.413000e+09,-2.169000e+09,18737000000,142811000000,1841000000,-9.120000e+08,929000000,-1162000000,-233000000,NaN,-113000000,-7.500000e+07,-188000000,NaN,-188000000,-244000000,3.84,2009-11-03,3.93,249.020996,251.847000,0.023438,0.011348,Neutral,3.363840e+09,-0.072536,0.179529,-0.013022,-0.001709,1.357208,0.383839,-0.006386,-1.109583,0.083406,-1.118723,-1.107181,0.231809,0.448948,-0.531264,2009Q2,11.111111,11.111111,11.111111,11.111111,44.444444,33.333333,22.222222
1253,STI,2009,Q2,2009-08-04,3.992420e+08,3.992420e+08,3257684000,NaN,27204488000,NaN,1.199202e+11,1.545990e+09,176734971000,1.188015e+11,1.136818e+10,1.884246e+10,153781813000,4.918863e+09,9054703000,-1.115782e+09,9.271388e+09,22953158000,176734971000,2049230000,-9.621810e+08,1087049000,-1259816000,-172767000,NaN,-328821000,1.489570e+08,-179864000,NaN,-183460000,-164428000,17.46,2009-11-02,16.72,241.977997,250.669006,-0.042383,0.035917,Peor,6.970765e+09,-0.023588,0.303695,-0.007164,-0.000930,1.316187,0.495278,-0.005444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2009Q2,22.222222,22.222222,22.222222,22.222222,33.333333,66.666667,33.333333
1453,WFC,2009,Q2,2009-08-06,4.483100e+09,4.501600e+09,20632000000,1.597600e+10,311204000000,NaN,7.985790e+11,1.115100e+10,1284176000000,8.137350e+11,5.548300e+10,2.294160e+11,1162794000000,3.149700e+10,48197000000,-3.126000e+09,3.916500e+10,121382000000,1284176000000,22507000000,-5.086000e+09,17421000000,-12697000000,4724000000,NaN,4724000000,-1.475000e+09,3249000000,NaN,3172000000,2575000000,20.85,2009-11-04,20.03,247.445999,248.429001,-0.039329,0.003973,Peor,9.347264e+10,0.027548,0.770070,0.021214,0.002005,2.347127,0.457094,-0.003961,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2009Q2,77.777778,77.777778,77.777778,77.777778,77.777778,55.555556,55.555556
1328,TFSL,2019,Q2,2019-05-08,2.753592e+08,2.773432e+08,259240000,NaN,672030000,NaN,1.288500e+10,6.243300e+07,14206627000,8.732790e+09,8.883900e+07,3.590072e+09,12470642000,0.000000e+00,1686238000,-7.603670e+08,8.236440e+08,1735985000,14206627000,72667000,4.000000e+06,76667000,-50727000,25940000,NaN,25940000,-5.810000e+06,20130000,NaN,20130000,20130000,16.18,2019-08-06,NaN,608.690000,613.760000,NaN,0.008329,Neutral,4.455312e+09,0.004518,2.566446,0.011596,0.001417,2.119207,0.051175,0.000282,0.038916,-0.032098,0.005569,0.007811,0.036626,0.080830,-0.501125,2019Q2,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000

In [25]:
data.to_csv('../tablas/dataformodel.csv', index=False)